mat-toolbar {
  color: #ddd;
  font-size: 30px;
}

mat-toolbar strong {
  margin: auto;
}

mat-card {
  width: 75%;
  margin: 15px auto auto;
  font-size: 30px;
}

mat-card-content {
  color: #ddd;
}

mat-form-field {
  padding: 10px;
  width: 85%;
  margin-bottom: -1.25em;
}

button {
  width: 10%;
  font-size: 30px;
}

.right {
  float: right;
}
