<mat-toolbar>
  <strong>To-Do List</strong>
</mat-toolbar>
<mat-card *ngFor="let todo of todos">
  <mat-card-content>
    <button mat-icon-button color="warn" (click)="deleteTask(todo.id)">
      <mat-icon>close</mat-icon>
    </button>
    <span>{{ todo.description }}</span>
    <button mat-icon-button color="accent" (click)="toggleComplete(todo.id)" class="right">
      <mat-icon>{{todo.completed ? 'check_box' : 'check_box_outline_blank' }}}</mat-icon>
    </button>
<!--    <mat-checkbox (change)="completeTask(todo.id, $event.checked)" [checked]="todo.completed"  color="accent" class="right"></mat-checkbox>-->
  </mat-card-content>
</mat-card>
<mat-card>
  <form (ngSubmit)="addTodo()">
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="description" name="description">
    </mat-form-field>
    <button mat-stroked-button type="submit">Add</button>
  </form>
</mat-card>
