@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-grey-palette, 800);
$my-accent: mat.define-palette(mat.$green-palette, 800);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  density: 0,
));

@include mat.all-component-themes($my-theme);

//@include mat.card-theme($my-theme);
//
//@include mat.checkbox-theme($my-theme);

